<%
var pageTitle = page.title || config.subtitle || '';
if (is_archive()) pageTitle = __('sidebar.archive');
if (is_tag()) pageTitle = __('title.tag') +' - '+ page.tag;
if (is_category()) pageTitle = __('title.category') +' - '+ page.category;
if (is_month()) pageTitle += ': ' + page.month + '/' + page.year;
if (is_year()) pageTitle += ': ' + page.year;
pageTitle += ' | ' + config.title;
if (is_home()) pageTitle = config.title;
%>


<!doctype html>
<html lang="config.language">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
  <title><%=config.title%></title>
  <% if (page.keywords !== undefined) { %>
  <meta name="keywords" content="<%=page.keywords%>" />
  <% } else if (page.tags !== undefined && page.tags.length > 0) { %>
  <meta name="keywords" content="<% page.tags.forEach(function(tag) { %><%=tag.name%>,<% }); %>" />
  <% } else if (theme.keywords !== undefined) { %>
  <meta name="keywords" content="<%=theme.keywords%>" />
  <% } %>
  <%-open_graph()%>
  <title><%=pageTitle%></title>
  <link rel="shortcut icon" type="image/x-icon" href="<%=theme.favicon%>">
  <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
  <% theme.stylesheets.forEach(function(url) { %>
  <link rel="stylesheet" href="<%=url%>">
  <% }); %>
  <% } %>
  <% if (theme.tencent_analytics !== undefined) { %>
  <script type="text/javascript">
    (function () {
      var hm = document.createElement("script");
      hm.src = "//tajs.qq.com/stats?sId=<%=theme.tencent_analytics%>";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <% } %>
  <link rel="stylesheet" href="/css/font-awesome.css">
  <%- css('css/Hora') %>
</head>
<body>
  <div class="blog">
        <div class="header-title">
          <%=config.title%>
        </div>
        <div class="header-subtitle">
          <%=config.subtitle%>
        </div>
        <div class="header-menu">
          <% Object.keys(theme.menu).forEach(function(key, num) { %>
          <% if (__('nav.'+key) !== "nav."+key) { %>
          <span class="header-nav">
            <a href="<%=theme.menu[key]%>"><%=__('nav.'+key)%></a>
          </span>
          <% } else {%>
          <span class="header-nav">
            <a href="<%=theme.menu[key]%>"><%=key%></a>
          </span>
          <% } %>
          <% if (Object.keys(theme.menu).length - 1 > num) { %>
          <% } %>
          <% }); %>
        </div>
      <div class="container">
            <%- body %>  
      </div>  
      <div id="lv-container" data-id="city" data-uid="MTAyMC80MzM4MC8xOTkyMQ==">
        <script type="text/javascript">
          (function (d, s) {
            var j, e = d.getElementsByTagName(s)[0];

            if (typeof LivereTower === 'function') {
              return;
            }

            j = d.createElement(s);
            j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
            j.async = true;

            e.parentNode.insertBefore(j, e);
          })(document, 'script');
        </script>
        <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
      </div>
    <div class="footer-outer">
      <div class="footer-items">
        <span class="footer-copyright">
          <i class="fa fa-copyright"></i>
        </span>
        <span class="footer-year">
          <%=theme.since%> 2017 - <%=time(new Date(),'Y')%>
        </span>
        <span class="footer-author">
          <%=config.author%>
        </span>
        <%if (theme.footer_wordcount == 'enabled') { %>
        <span class="footer-wordcount">
          <i class="fa fa-pencil footer-icon"></i>
          Has <%=totalcount(site)%> words.
        </span>
        <% } %>
      </div>
      <div class="footer-inner">
          <span class="footer-other">
            <%-theme.footer_expand%>
            <%= __('Powerd by ')%> <a href="https://hexo.io/">Hexo</a>
            <%= __('theme ')%> <a href="https://github.com/jeffierw/hexo-theme-Hora">Hora</a>
          </span>
        </div>
      </div>
  </div>
  <% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <% theme.scripts.forEach(function(url) { %>
  <script src="<%=url%>"></script>
  <% }); %>
  <% } %>
</body>
</html>